:root {
    --primary: #4B4B50;
    --forecolor: #F0F0F5;
    --backcolor: #141419;
    --accentcolor: #5E47D1;
}

@media (prefers-color-scheme: light) {
    :root {
        --primary: #4B4B50;
        --forecolor: #141419;
        --backcolor: #F0F0F5;
        --accentcolor: #5E47D1;
    }
}

body {
    background-color: var(--primary);
    color: var(--forecolor);
    font-family: sans-serif;
    letter-spacing: 1.5pt;
    line-height: 180%;
}

.container {
    width: 60%;
    margin: 0px auto;
    background-color: var(--backcolor);
    padding: 15px;
    border-radius: 3px;
}
