/* root */
:root {
    --dark: #070F2B;
    --blue: #1B1A55;
    --light: #dbdcde;
}
/*importált betűtípusok*/
@font-face {
    font-family: Ailerons;
    src: url("./fonts/Ailerons-Typeface.otf") format("opentype");
}

@font-face {
    font-family: ImBatman;
    src: url("./fonts/Gotham.ttf") format("opentype");
}

@font-face {
    font-family: Poppins;
    src: url("./fonts/Poppins-ExtraLight.ttf") format("opentype");
}

/* ------------------------------BASIC------------------------------ */

/*alap jelölők*/

body {
    min-height: 100vh;
    margin: 0;
    background-image: url(./img/listings_00000.png);
    background-size: cover;
    overflow: visible;
    color: var(--light);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-size: calc(0.9vw + 0.9vh);
    overflow-y: scroll;
}

html {
    scrollbar-width: none;
  }
  
  /* Hide scrollbar for Webkit based browsers */
body::-webkit-scrollbar {
    display: none;
}

header {
    background-color: var(--light);
    height: 100px;
    width: 100%;
    padding: 25px;
    position: fixed;
    color: var(--dark);
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    font-family: Ailerons;
    flex-wrap: wrap;
    padding: 35px;
    padding-top: 135px;
    align-items: center;
}

footer {
    height: 80vh;
    width: 100%;
    background: var(--light);
    position: absolute;
    bottom: -80vh;
    transition: bottom 0.5s ease;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/*szöveg alap jelölők*/
h1 {
   
    text-shadow: 0px 0px 10px var(--light);
    margin: 0;
    text-align: center;
    font-size: clamp(60px, 10vw, 800px);
}

h2 {
    margin: 0;
    font-size: 3em;
    font-family: ImBatman;
}

p {
    font-family: Poppins;
    margin: 0;
    font-size: 16px;
}

/*egyéb jelölők*/
form {
    display: flex;
    flex-wrap: wrap;
}

label {
    width: 30%;
    margin-bottom: 30px;
}

input {
    width: 70%;
    margin-bottom: 30px;
    height: 30px;
    color: var(--dark);
}

input:last-child {
    margin: 0;
}

/*többször felhasznált jelölők*/

.termek_button {
    background-color: rgba(0, 0, 0, 0.6);
    font-family: Ailerons;
    font-size: 2em;
    color: var(--light);
    padding: 5% 9%;
    border-color: var(--light);
    text-shadow: 0px 0px 10px var(--light);
    box-shadow:  0px 0px 10px var(--light);
    border-width: 0.37rem;
} 

.termek_button:hover{
    color: white;
    background-color: var(--dark);
    transition-duration: 0.4s;
}

.termek_button:focus{
    color: white;
}

/* ------------------------------NAV------------------------------ */

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand img {
    margin-right: 10px;
    width: 80px;
    height: 80px;
}

.navbar-brand span {
    color: var(--light);
}

.navbar-nav {
    float: right;
}

.navbar-nav li {
    padding: 10px;
    list-style-type: none;
}
.navbar-nav li a {
    line-height: 30px;
}

.navbar {
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0px;
}

#navbarNav {
    height: 100%;
}

.nav-link, .nav-link:hover{
    color: var(--dark);
    
}

.navbar-toggler{
    display: none;
}

/* ------------------------------INDEX.HTML------------------------------ */

.index_body {
    overflow: hidden;
    background-image: url(./img/harbor_00000.png);
}

.index_main {
    padding: 0;

}

.bottom_div {
    position: absolute;
    bottom: 0;
    height: 20vh;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: space-between;
    transition: transform 0.5s ease;
    padding: 50px;
}

.bottom_item {
    text-align: center;
    width: 40%;
    word-wrap: break-word;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background-color: 1;
}

.arrow {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 9999; /* Ensure the arrow is above other elements */
    width: 60px; /* Adjust the width as needed */
    height: auto; /* Ensure aspect ratio is maintained */
    transform-origin: center center; /* Set the rotation origin to the center of the image */
    position: absolute; /* Set position to absolute to fix its position */
    filter: invert(1);
}

#arrow_div {
    width: 20%;
}

#bottom_desc {
    text-align: justify;
    padding: 20px;
}

#bottom_btn {
    padding: 20px
}

.portrait {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.portrait_div {
    width: auto;
    height: 50%;
    background-color: black;
}

.portrait_img {
    height: 100%;
    width: 100%;
    aspect-ratio: 3 / 4;
}

#devs {
    height: 25%;
    position: absolute;
    color: var(--dark);
    text-indent: 25px;
    justify-content: flex-start;
}

#devs h2{
    font-family: Poppins;
}

/* ------------------------------PRODUCTS.HTML------------------------------ */

.product_main {
    height:fit-content;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent black overlay */
    z-index: 9999; /* Ensure overlay is on top of other content */
    text-align: center;
}

.overlay img {
    margin-top: 20vh; /* Adjust as needed */
    max-width: 80%; /* Adjust as needed */
    max-height: 60vh; /* Adjust as needed */
}

.product_item {
    height: 225px;
    width: 800px;
    margin: 20px;
    background-color: var(--light);
    display: flex;
    color: black;
}

.product_desc h2 {
    margin-bottom: 10px;
    font-size: 1.4em;
}

.product_desc a {
    padding: 10px 30px;
}

.details {
    width: 45%;
    padding: 20px;
    font-size:1em;
    word-break: break-word;
}

.add {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: solid 1px black;
}

.add .termek_button{
    padding: 20px 30px;
    font-size: 25px
}

/* ------------------------------CART.HTML------------------------------ */

.pay_column {
    height:100%
}

#column1 {
    width: 75%;
}

#column2 {
    width: 25%;
    padding-left: 20px;
}

.pay_item {
    height: 50%;
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-direction: column; /* Added to stack items vertically */
}

.pay_item form label {
    margin-bottom: 2%; /* Adjust margin between labels and inputs */
}

.pay_item form {
    font-family: Poppins;
}

.pay_item form input[type="text"],
.pay_item form input[type="date"] {
    margin-bottom: 2%; /* Adjust margin between inputs */
}

.pay_item p {
    margin:auto;
}

#pay_form {
    padding: 5%;
    border-top: 2px solid var(--light);

}

#pay_sum {
    height: 100%;
    justify-content: start;
    align-items: start;
    padding: 0;
    border: 2px solid var(--light);
}

#pay_img {
    width: 100%;
    aspect-ratio: 16 / 9;
}

.cart_btn { /* Make the button float to the bottom */
    margin:auto;
    margin-bottom: 15%;
}

/* ------------------------------FINALIZE.HTML------------------------------ */

.finalize_btn {
    padding: 3% 4%;
}

/* ------------------------------RESPONSIVE------------------------------ */



@media only screen and (max-width: 800px) {
    
        body {
            text-align: center;
            margin: 0;
            padding: 0;
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none; 
        }
        
/* ------------------------------INDEX.HTML------------------------------ */

        .index_body{
            overflow: visible;
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none; 
        }
/* ------------------------------PRODUCTS.HTML------------------------------ */
        .item {
            width:100vh;
        }

        .product_item{
            flex-direction: column;
            height:fit-content;
            width: 70%;
            margin: 15%;
            padding: 15px;
            justify-content: center;
        }

        .product_desc{
            width: 100%;
        }
        
        .product_desc h2{
            font-size: 2em;
        }

        .add{
            border: none;
        }

        h1 {
            font-size: clamp(40px, 10vw, 800px); /* Adjust as needed */
            margin: 20px;
            margin-top: 70px;
            margin-bottom: 30px;
        }
    
        h2 {
            font-size: 2.5rem; /* Adjust as needed */
        }
    
        p {
            font-size: 1.6rem; /* Adjust as needed */
        }
    
        main {
            height: fit-content;
        }
    
        .bottom_div {
            position: static; /* Change position to static so it flows within the document */
            height: auto; /* Remove fixed height */
            flex-direction: column; /* Stack items vertically */
            align-items: center; /* Center items vertically */
            padding: 20px; /* Adjust padding */
        }
    
        .bottom_item {
            width: 100%;
        }
    
        #arrow_div {
            display: none;
        }
    
        footer {
            height: fit-content;
            margin-top: 20px; /* Add margin to create space between main content and footer */
            position: flex; /* Change position to static */
            bottom: auto; /* Reset bottom property */
        }

        .portrait{
            flex-direction: column;
            height: 100% ;
            display: flex;
            justify-content: space-evenly;
        }

        .portrait_div{
            margin-top: 30px;
            height: 300px;
            width: 225px;
        }

        .portrait_div:last-child{
            margin-bottom: 30px;
        }

        body::-webkit-scrollbar {
            display: none;
        }

        #devs{
            text-indent: 0;
            position:relative;
            margin: 20px 0px;
        }














    .navbar-nav {
        display: none;
    }

    .navbar-toggler{
        display: flex;
    }

    .navbar-collapse {
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #fff;
        padding: 15px;
        border: 1px solid #ddd;
        display: none;
    }

    .navbar-collapse ul {
        display: none;
        flex-direction: column;
        align-items: flex-start;
    }

    .show {
        display: block !important;
    }
}
